<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <div th:include="common/head-section :: headSection ('Home Page')" />

<body>
<div class="container">
    <div th:if="${session.customSecurityUser != null}">
        <div th:replace="common/header :: logged-in-user-info" ></div>
    </div>
    <div th:if="${session.customSecurityUser == null}">
        <div th:replace="common/header :: log-in-link" ></div>
    </div>

    <div class="page-header">
        <h3>Shopping list application</h3>
    </div>
    <hr>
    <a class="nav-link active" th:href="@{/product/list}">Show product list</a>
</div>
</body>
</html>