<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Product details</title>
</head>
<body>

<div class="container">

    <div th:replace="common/header :: logged-in-user-info"></div>
    <div class="page-header">
        <h3>Product details</h3>
    </div>
    <hr>

    <div class="card mb-3">
        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Title</h6>
            <p class="card-text" th:text="${product.title}" />
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Description</h6>
            <p class="card-text" th:text="${product.description.}" >---</p>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Quantity</h6>
            <p class="card-text" th:text="${!product.quantity.isEmpty() ? product.quantity : '---'}" />
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Unit</h6>
            <p class="card-text" th:text="${!product.unit.isEmpty() ? product.unit : '---'}" />
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Checked</h6>
            <p class="card-text"><input type="checkbox" th:checked="${product.checked}" onclick="return false;" /></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md">
            <form action="#" th:action="@{/product/edit}" method="POST">

                <input type="hidden" name="productId" th:value="${product.id}" />
                <button type="submit" class="btn btn-info btn-sm">Edit</button>

            </form>
        </div>
        <div class="col-md">
            <form action="#" th:action="@{/product/delete}" method="POST">

                <input type="hidden" name="productId" th:value="${product.id}" />
                <button type="submit" class="btn btn-danger btn-sm">Delete</button>

            </form>
        </div>
    </div>

</div>

</body>
</html>